<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dad Jokes</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <h1 class="joke"></h1>
        <button class="jokefetch">Get a new joke</button>
      </div>
    </div>
  </body>
  <script>
    const jokeH2 = document.querySelector(".joke");
    const fetchJokeButton = document.querySelector(".jokefetch");

    function fetchJoke() {
      fetch("https://dadjokes-lol.uc.r.appspot.com/random")
        .then((res) => res.json())
        .then((data) => {
          jokeH2.innerHTML = data.data.joke;
        });
    }

    fetchJoke();

    fetchJokeButton.addEventListener("click", fetchJoke);
  </script>
</html>
