<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dad Jokes</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <h1 class="joke"></h1>
        <button class="jokefetch">Get a new joke</button>
      </div>
    </div>
    <footer>
      <span>&copy; 2020 <a href="https://jhoot.dev">Jhoot.dev</a></span>
    </footer>
  </body>
  <script>
    const jokeH2 = document.querySelector(".joke");
    const fetchJokeButton = document.querySelector(".jokefetch");
    const jokeWrapper = document.querySelector(".wrapper");

    function fetchJoke() {
      fetch("http://dadjokes.lol/random")
        .then((res) => res.json())
        .then((data) => {
          jokeH2.innerHTML = data.data.joke;
          wrapper.style.left = "50%";
          wrapper.style.top = "50%";
          wrapper.style.tranform = "translate(-50%, -50%)";
        });
    }

    fetchJoke();

    fetchJokeButton.addEventListener("click", fetchJoke);
  </script>
</html>
